doctype html
html(lang="cz")
  head
    title= pageTitle
    link(rel="stylesheet", href="../lib/Leaflet/dist/leaflet.css")
    script(src="../lib/Leaflet/dist/leaflet-src.js")
    script(type='text/javascript', src='./main.elm.js')
    //- script(type='text/javascript', src='./mapa.js') 
    
  body
    script(type='text/javascript').
      //- var app = Elm.Main.fullscreen();
  script(type='text/javascript', src='./mapa.js') 
      